html,body{
 height: 100%;
 margin: 0;
 text-align: center;
 background-color: #011F3F;
}
#curser{
    font-family:'Press Start 2p',curser ;
    font-size: 3rem;
    margin: 20px;
    color: #FEF2BF;
}
.container{
    display: block;
    width: 50%;
    /* height: 50%; */
    margin: auto;
    /* background-color: lightblue; */
}
.go{
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20px;
    box-shadow: 0 0 20px white; 
    background-color: grey;

}
.green{
    background-color: green;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}


.blink{
    box-shadow: 0 0 20px white;
    background-color: grey;
}
.gameover{
    background-color: red;
    opacity: 0.6;
}



